@model GamesShowGameViewModel

<div class="row">
    <div class="col-lg-5 mx-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Model.Value</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.Developer.Value</h6>
                <h6 class="card-subtitle mb-2 text-muted">Rating</h6>
                @for (int i = 0; i < 5; i++)
                {
                    if (i < Model.Rating)
                    {
                        <i class="fa-solid fa-star"></i>
                    }
                    else
                    {
                        <i class="fa-regular fa-star"></i>
                    }
                }
            <p>
                <a href="/games" class="btn btn-primary">Back</a>
            </p>
            </div>
        </div>
    </div>
</div>